<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WELCOME</title>
</head>

<body>

<center><h2>Secure Access</h2></center>
<HR width="80%">
    <center>
        <input type="button" value="Salir" onClick="window.location.href='../'">

    <center/>
        <HR>
        <center> Ahora puedes interactuar con la asistente de hogar</center>

<iframe
    allow="microphone;"
    width="350"
    height="430"
    src="https://console.dialogflow.com/api-client/demo/embedded/66c2ea65-80c3-4456-8471-af89df215126">
</iframe>
</body>
