<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>WELCOME</title>
        <link rel="stylesheet" href="./../../static/admin/css/index/index.css">
            <link href="https://fonts.googleapis.com/css?family=PT+Serif&display=swap" rel="stylesheet">

    </head>

    <body>

        <h1>Secure Access</h1>
            
                <input type="button" value="Salir" onClick="window.location.href='../'">

                 <h3>Ahora puedes interactuar con la asistente de hogar</h3>

        <iframe
            allow="microphone;"
            width="350"
            height="430"
            src="https://console.dialogflow.com/api-client/demo/embedded/66c2ea65-80c3-4456-8471-af89df215126">
        </iframe>
    </body>
</html>
