<html>
    <head>
        <link rel="stylesheet" href="./../../static/admin/css/index/index.css">
        <link href="https://fonts.googleapis.com/css?family=PT+Serif&display=swap" rel="stylesheet">

    </head>
<body>

<h1>Secure Access</h1>
<hr>
        <input type="button" value="Tomar foto" onClick="window.location.href='photo'">
        <input type="button" value="Grabar Audio" onClick="window.location.href='audio'">
        <hr width="80%">


        <br><br><br>
            <div>
                <input type="button" value="Verificar acceso" onClick="window.location.href='verified'">
            </div>
</body>
</html>