<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Photo tomada con exito</title>
        <link rel="stylesheet" href="./../../static/admin/css/index/index.css">
        <link href="https://fonts.googleapis.com/css?family=PT+Serif&display=swap" rel="stylesheet">

    </head>
    <body>
        <h1>Secure Access</h1>
        <h3> Foto tomada con exito</h3>

        <!-- {% load static %}
        <img src="{% static 'admin/img/foto.png' %}">-->
        <img src="/media/foto.png">
        <div>
            <input type="button" value="Save" onClick="window.location.href='..'">
            <input type="button" value="Repeat" onClick="window.location.href=''">
        </div>


    </body>
</html>


