<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="./../../static/admin/css/index/index.css">
        <link href="https://fonts.googleapis.com/css?family=PT+Serif&display=swap" rel="stylesheet">

    </head>
    <body>
        <h2>Secure Access</h2>



        <body onload="arrancarcontador()">
        <div id="contador" class="contador">
        0<span id="contador1" class="contador1">0</span>
        :
        <span id="contador2" class="contador2">00</span>
            
            <input type="button" value="restart" onClick="window.location.href='../'">
            <input type="button" value="save" onClick="window.location.href='../'">

        </div>
    </body>
</html>


