*{
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

body{
    background-image: url(../../img/background.jpg);
    background-size: cover;
}

h1{
    color: snow;
}

hr{
    border: 1px solid darkblue;
}