*{
    text-align: center;
    font-family: 'PT Serif', serif;
}

body{
    background-image: url(../../img/background.jpg);
    background-size: cover;
}

h1{
    color: #072D5C;
    /* color: #1D3759; */
    letter-spacing: 2px;
    font-size: medium;
}

.options{
    border: solid #1D3759;
    border-width: 2px 0px;
    width: 90vw;
    margin: 0 auto;
}

input{
    margin: 20px;
    height: 40px;
    letter-spacing: 0.3em;
    background-color: #0D53A8;
    border: 2px solid #1373E8;
    border-style: outset;
    color: #052142;
    font-weight: bold;
}