*{
    text-align: center;
    font-family: 'PT Serif', serif;
}

body{
    background-image: url(../../img/background.jpg);
    background-size: cover;
}

h1{
    color: #1D3759;
    /* color: #072D5C; */
    letter-spacing: 2px;
}

.options{
    border: solid #1D3759;
    border-width: 2px 0px;
    width: 90vw;
    margin: 0 auto;
}

input{
    margin: 20px;
    height: 40px;
    letter-spacing: 1px;
    background-color: #116BD9;
    border: 2px solid #0D52A6;
    border-style: outset;
    color: #5593DF;
}